/* General Page Styles */
body {
  font-family: "Helvetica", "Arial", sans-serif;
}

/* Navbar scrolls away normally */
.navbar {
  margin-bottom: 0;
}

/* Mobile menu background */
#mobile-menu {
  background-color: #f2f2f2;
}

/* Large section */
.section-box {
  background-color: #e0e0e0;
  padding: 20px;
  height: 1000px;
  border: 1px solid #ccc;
}
